@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 10px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.item img {
  flex-shrink: 0;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.item h3 {
  margin: 0;
}

.content-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.header-image {
  flex: 1;
  max-width: calc(33.33% - 10px);
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
}

.header-image:first-child {
  margin-left: 0;
}

.header-image:last-child {
  margin-right: 0;
}

.all-caps {
  text-transform: uppercase;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
}

#about {
  margin-bottom: 50px;
  text-align: justify;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.profile-section img {
  width: 150px;           /* or your preferred width */
  height: auto;           /* keeps aspect ratio */
  border-radius: 12px;    /* rounded corners */
  object-fit: cover;      /* ensures image covers the box */
}

#publications {
  margin-bottom: 50px;
}

.content-container>div {
  margin-bottom: 50px;
}

.content-container>div:last-child {
  margin-bottom: 0;
}

.contact-social-links {
  margin-top: 0px;
}

.contact-social-links a {
  display: block;
  margin-bottom: 5px;
  color: #1DA1F2;
  text-decoration: none;
}

.contact-social-links a:hover {
  color: #d21846;
  text-decoration: underline;
}

.image-panel {
  width: 100%;
}

.image-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.image-container {
  position: relative;
  flex: 1;
  margin: 0 5px;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.image-container:first-child,
.image-container:last-child {
  margin-left: 0;
  margin-right: 0;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 4px;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 4px;
}

.image-container:hover .overlay-text {
  opacity: 1;
}

@media (max-width: 600px) {
  .image-row {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    margin: 5px 0;
  }

  .image-container:first-child,
  .image-container:last-child {
    margin: 5px 0;
  }
}

.abstract {
  display: none;
  text-align: justify;
}

.abstract-toggle {
  cursor: pointer;
  color: #0066cc;
  margin-bottom: 10px;
}

.abstract-toggle:hover {
  color: #d21846;
  text-decoration: underline;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.rotated {
  transform: rotate(90deg);
}

p>a {
  color: #0066cc;
  text-decoration: none;
}

p>a:hover {
  color: #d21846;
  text-decoration: underline;
}